
<!DOCTYPE html>
<html lang="en">
<head>
<style>
  nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}
.text-regular{
    font-weight: normal;
    font-size: 15px;
}
.text-title{
    margin-top: 20px;
    font-size: 32px;
}
.text-gray-soft{
    color: #838E95;
}


</style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Thông tin về <%=data.name%></title>
  
</head>
<body>

        <% var tong =data.protein + data.cacbohydrat + data.lipid%>
        <div  style="background-image:url('/thucPham_img/index_bg.jpg'), linear-gradient(to bottom,rgba(0, 0, 0,0),rgba(255, 255, 255, 0.91), #ffffff);background-blend-mode:lighten; background-repeat:no-repeat;background-size:cover contain; ">

        <%- include("partials/nav") %>
        <%- include("partials/full_containSearch") %>
        <div class="dropdown-divider" style="opacity:0; margin-top: 50px;margin-left:50px; margin-right:50px"></div>
        <div class="container" style="margin-top:20px;background-image:url(<%-data.bg%>); background-repeat:no-repeat;background-size:contain; background-position:right">
                <div class="d-flex justify-content-center">
                        <h2 class="display-4 text-title" style="font-size: 36px; margin-bottom:20px"><strong>Thông tin của <%-data.name%></strong></h2>
                        <a name="next"></a>
                    </div>
                   
                <div class="card-deck">
                        <div class="card" style="border-color:transparent;box-shadow: 0px 0px 50px rgba(0, 0, 0, .15);">
                                <div class="container" style="margin-top:30px">
                                        <span class=" text-title" style="font-size:20px; ">Phần trăm dinh dưỡng</span><br><br>

                                <div class="container">
    
                                        <label for="calo">Calo (kcal)</label>
                                    <div class="progress" style="height:20px; border-radius:25px">
                                        <div class="progress-bar bg-success" id="calo" role="progressbar" style='width:<%-Math.ceil(data.calo*100/2200) %>%' aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><%-Math.ceil(data.calo*100/2200) %>%</div>
                                      </div>
                                      
                                      <label for="cacbohydrat">Cacbohydrat</label>
                                      <div class="progress"  style="height:20px; border-radius:25px">
                                        <div class="progress-bar bg-info" id="cacbohydrat" role="progressbar" style="width: <%-Math.ceil(data.cacbohydrat*100/tong) %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><%-Math.ceil(data.cacbohydrat*100/tong) %>%</div>
                                      </div>
                                      
                                      <label for="chatBeo">Chất béo</label>
                                      <div class="progress"  style="height:20px; border-radius:25px">
                                        <div class="progress-bar bg-warning" id="chatBeo" role="progressbar" style="width: <%-Math.ceil(data.lipid*100/tong) %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><%-Math.ceil(data.lipid*100/tong) %>%</div>
                                      </div>
                                      
                                      <label for="protein">Protein</label>
                                      <div class="progress"  style="height:20px; border-radius:25px">
                                        <div class="progress-bar bg-danger" id="protein" role="progressbar" style="width: <%-Math.ceil(data.protein*100/tong) %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><%-Math.ceil(data.protein*100/tong) %>%</div>
                                      </div>
                                      <br>
                                      </div>
                                    <img class="card-img-top" src="/food_img/<%-data.anh%>"style="margin:auto;border-radius:25px;  object-fit: contain;" alt="Image">
                                    
                                            <blockquote class="blockquote" style="text-align:justify;">
                                                <p class="ml-5" style="font-size:14px;text-align:justify;"><%-data.info%></p>
                                            </blockquote>
                                            

                                       
                                        
                                </div>
                         </div>
                                  <div class="card" style="border-color:transparent;box-shadow: 0px 0px 50px rgba(0, 0, 0, .15);">
                                        <span class=" text-title" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:20px; margin:10px">Thông tin dinh dưỡng</span>
                                        
                                        <table class="table table-hover" style="font-family:sans-serif;font-size:13px">
                                            <tbody>
                                                <tr>
                                                    <th>Giá trị dinh dưỡng</th>
                                                
                                                    <td><%-data.giaTriDinhDuong%> g</td>
                                                </tr>
                                                <tr>
                                                    <th>Calo (kcal)</th>
                                                    <td><%-data.calo%> Kcal</td>
                                                </tr>
                                                <tr>
                                                    <th>Lipid</th>
                                                    <td><%-data.lipid %> <%-donVi.lipid[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Cholesterol</th>
                                                    <td><%-data.cholesterol%> <%-donVi.cholesterol[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Natri</th>
                                                    <td><%-data.natri%> <%-donVi.natri[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Kali</th>
                                                    <td><%-data.kali%> <%-donVi.kali[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Cacbohydrat<br>
                                                        <ul>
                                                            <li>Đường:</li>
                                                            <li>Chất xơ:</li>
                                                        </ul>
                                                    </th>
                                                    <td><%-data.cacbohydrat%> <%-donVi.cacbohydrat[0]%><br>
                                                        
                                                            <%-data.duong%><br>
                                                             <%-data.chatXo%>
                                                       
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Protein</th>
                                                    <td><%-data.protein%>  <%-donVi.protein[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Vitamin A</th>
                                                    <td><%-data.vitaminA%>  <%-donVi.vitaminA[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Vitamin C</th>
                                                    <td><%-data.vitaminC%> <%-donVi.vitaminC[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Vitamin D</th>
                                                    <td><%-data.vitaminD%> <%-donVi.vitaminD[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Vitamin B12</th>
                                                    <td><%-data.vitaminB12%> <%-donVi.vitaminB12[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Vitamin B6</th>
                                                    <td><%-data.vitaminB6%> <%-donVi.vitaminB6[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Canxi</th>
                                                    <td><%-data.canxi%> <%-donVi.canxi[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Sắt</th>
                                                    <td><%-data.sat%> <%-donVi.sat[0]%></td>
                                                </tr>
                                                <tr>
                                                    <th>Magiê</th>
                                                    <td><%-data.magie%> <%-donVi.magie[0]%></td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                        
                                    </div>
            
                        </div>
                       
        </div>
        </div>
        <div class="dropdown-divider" style=" margin-top: 50px;margin-left:50px; margin-right:50px"></div>

    
    <div class="container">
            <div class="d-flex justify-content-center">
                    <h2 class="display-4 text-title mb-4" style="font-size: 36px;">Thực phẩm cùng nhóm</h2>
                    <a name="next"></a>
                </div>
            
            <div class="table-responsive">
                <table class="table" style="border-color:transparent">
                   
                    <tbody>
                        <tr style="border-color:transparent">
                            <% for(var i=0; i<list.length; i++) {%>
                                <td style="border-color:transparent"> <%- include("partials/item_search_thucPham",list[i]) %></td>
                            <%}%>   
                        </tr>
                    </tbody>
                </table>
            </div>
            
                    
                       
                           
                     
            
    </div>
        





        <%- include("partials/footer") %>
     

        
        
          
           
    </body>
</html>
