<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Kết quả với - <%-title %></title>
    <style>
        .text-regular{
    font-weight: normal;
    font-size: 15px;
}


.text-gray-soft{
    color: #838E95;
}

.shadow{
    border-color:transparent; border-radius:5px;  box-shadow: 0px 5px 20px rgba(167, 163, 163, 0.404);
}
.text-title{
    font-size: 24px;
    font-weight: normal;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
        grid-row: auto;
    }
}
    </style>
</head>
<body>
        <div  style="background-image:url('/thucPham_img/index_bg.jpg'), linear-gradient(to bottom,rgba(0, 0, 0,0), #ffffff);background-blend-mode:lighten; background-repeat:no-repeat;background-size:cover contain; ">
        
            <%- include("partials/nav") %>
        
            <%- include("partials/full_containSearch") %>
       
    <div class="dropdown-divider" style=" margin-top: 50px;margin-left:50px; margin-right:50px"></div>
    
    <div class="container" style="margin:0 auto">
            <div class= "d-flex justify-content-center">
                    <div class="alert alert-success" role="alert">
                            Tìm thấy <%- len %> kết quả cho bạn
                          </div>
            </div>
            
            <div class="container px-2 py-2 mt-4 align-middle">
                    
                            <div class="row align-item-center">
                            <% for(var i=1; i<=len; i++) {%>
                                <div class="col mb-4">
                                    <%- include("partials/item_search_thucPham",data[i-1]) %>
                                </div>
                                 <% } %>
                            </div>
            </div>
            
    </div>
        </div>
    

    <%- include("partials/footer") %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>         
</body>

</html>