
<!DOCTYPE html>
<html lang="en">
<head>
<style>
  nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}
.bg-overlay {
    
    background: linear-gradient(rgba(0,0,0,.32), rgba(0,0,0,.32)), url(<%-info.img%>);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
    text-align: center;
    font-size: max(1em, 12px);
}


</style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=info.name%></title>
  
</head>
<body>

        <%- include("partials/nav") %>
                
        <div class="bg-overlay">
            <div class="container">   
               <br>
               <br>
                <h2 class="text-center display-4" style="font-size: max(1em, 12px);" ><%-info.intro%></h2>
                
            </div>
        </div>
        
        <div class="container" style="margin-top:20px;background-image:url(<%-info.bg%>); background-repeat:no-repeat;background-size:contain; background-position:right">
                <div class="d-flex justify-content-center">
                        <h2 class="display-4 text-title" style="font-size: 36px; margin-bottom:10px">Vai trò của <%-info.name%></h2>
                        <a name="next"></a>
                    </div>
                   
                <div class="card-deck">
                        <div class="card" style="border-color:transparent">
                                <div class="container" style="margin-top:30px">
                                        
                                            <blockquote class="blockquote" style="text-align:unset;">
                                                <p class="ml-5" style="font-size:14px;text-align:justify;"><%-info.content%></p>
                                            </blockquote>
                                       
                                        
                                    </div>
                                    </div>
                                  <div class="card" style="border-color:transparent;background-color:transparent">
                                        
                                  </div>
            
                        </div>
                       
        </div>
        <div class="dropdown-divider" style=" margin-top: 50px;margin-left:50px; margin-right:50px"></div>


    <div class="container">
            <div class="d-flex justify-content-center">
                    <h2 class="display-4 text-title mb-4" style="font-size: 36px;">Thực phẩm tiêu biểu</h2>
                    <a name="next"></a>
                </div>
            
            <div class="table-responsive">
                <table class="table" style="border-color:transparent">
                   
                    <tbody>
                        <tr style="border-color:transparent">
                                <% for(var i=0; i<listThucPham.length; i++) {%>
                            <td style="border-color:transparent"> <%- include("partials/item_search_thucPham",listThucPham[i]) %></td>
                        <%}%>
                        </tr>
                    </tbody>
                </table>
            </div>
            
                    
                       
                           
                     
            
    </div>





        <%- include("partials/footer") %>
     

        
        
          
           
    </body>
</html>
