<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kết quả với - <%-title %></title>
<style>
            .text-regular{
        font-weight: normal;
        font-size: 15px;
    }


    .text-gray-soft{
        color: #838E95;
    }

    .shadow{
        border-color:transparent; border-radius:5px; box-shadow: 0px 5px 10px rgba(0, 0, 0, .25);
    }
    .text-title{
        font-size: 24px;
        font-weight: normal;
    }
    @media (min-width: 576px) {
        .card-columns {
            column-count: 3;
        }
    }

    @media (min-width: 768px) {
        .card-columns {
            column-count: 3;
        }
    }

    @media (min-width: 992px) {
        .card-columns {
            column-count: 3;
        }
    }

    @media (min-width: 1200px) {
        .card-columns {
            column-count: 4;
            grid-row: auto;
        }
    }

</style>
</head>
<script>
        var key=[
        "giaTriDinhDuong",
            "lipid",
            "cholesterol",
            "natri",
            "kali",
            "cacbohydrat",
            "chatXo",
            "duong",
            "protein",
            "vitaminA",
            "vitaminC",
            "vitaminD",
            "vitaminB12",
            "vitaminB6",
            "canxi",
            "sat",
            "magie",
            "chatBeoChuyenHoa",
            "calo",
            
        ]
        let calo = 2200;
        var key1 =["protein","calo", "cacbohydrat","lipid"];
        let lop= ["alert alert-success","alert alert-warning","alert alert-danger"];
        let head = ["Thật tuyệt vời!","Tạm ổn!", "Không tốt!"]
        let notify = ["Bạn đã có một bữa ăn đầy đủ dinh dưỡng.", "Lượng thực phẩm của bạn chưa cung cấp đủ dưỡng chất.","Bữa ăn không đảm bảo đủ chất dinh dưỡng."]
        function update(){
            var result= {
        
                "giaTriDinhDuong":0,
                "lipid":0,
                "cholesterol":0,
                "natri":0,
                "kali":0,
                "cacbohydrat":0,
                "chatXo":0,
                "duong":0,
                "protein":0,
                "vitaminA":0,
                "vitaminC":0,
                "vitaminD":0,
                "vitaminB12":0,
                "vitaminB6":0,
                "canxi":0,
                "sat":0,
                "magie":0,
                "chatBeoChuyenHoa":0,
                "calo":0,
            }
            var count=0;
            var checked = [];
            var damBao={"protein":{check:true,min:10, max:35},"calo":{check:true,min:90, max:100}, "cacbohydrat":{check:true,min:45, max:65}, "lipid":{check:true,min:20, max:25}};
            $(".custom-control-input:checked").each(function() {
                console.log($(this).val());
                checked.push($.parseJSON($(this).val()));
                
            });
            checked.forEach(function (val,i){
                var kl = $("#"+val._id).val();
                key.forEach((value, j)=>{
                    result[value]+=Math.ceil((kl/100)*val[value]);
                    
                })


            });
            
            key.forEach((value, j)=>{
           
                    document.getElementById(value).innerText= result[value];
            });

            var tong =result.cacbohydrat+ result.lipid+ result.protein;
            key1.forEach((value,j)=>{
                if (value == "calo"){
                    if(Math.ceil(result[value]*100/calo)>= damBao[value].min & 
                        Math.ceil(result[value]*100/calo)<= damBao[value].max)
                            damBao[value].check = true;
                    else
                            damBao[value].check = false;
                }
                else{
                    if(Math.ceil(result[value]*100/tong)>= damBao[value].min &
                        Math.ceil(result[value]*100/tong)<= damBao[value].max)
                            damBao[value].check = true;
                            else
                            damBao[value].check = false;
                }
                
            });
            console.log(damBao);
           
            key1.forEach((value,j)=>{
                if (value == "calo"){
                }
                if (!damBao[value].check){
                    count+=1;
                    if (count>3)
                    count =3;
                }
                   
               
            })
            console.log(count);
          
            key1.forEach((value,j)=>{
            if (tong == 0)
            {  
                $( "#chart_"+value ).css({"width": "0%"});
                $( "#chart_"+value ).text("");

             
            }
            else{
                if (value =="calo"){
                    $( "#chart_"+value ).css("width", Math.ceil(result[value]*100/calo)+"%");
                    $( "#chart_"+value ).text(Math.ceil(result[value]*100/calo)+"%");

                }
                else{
                    $( "#chart_"+value ).css("width", Math.ceil(result[value]*100/tong)+"%");
                    $( "#chart_"+value ).text(Math.ceil(result[value]*100/tong)+"%");
                }

            }
            
        });
        setNotify(count);
        }
        function setNotify(count){
               document.getElementById("lop").setAttribute("class",lop[count-1]);
                $("#head").text(head[count-1]);
                $("#notify").text(notify[count-1]);
        }
</script>
<body onload="update()">
    <div  style="background-image:url('/thucPham_img/bg.png'), linear-gradient(to bottom,rgba(0, 0, 0,0),rgba(255, 255, 255, 0.91), #ffffff);background-blend-mode:lighten; background-repeat:no-repeat;background-size: covercontain; ">

        <%- include("partials/nav") %>
        <div class="d-flex justify-content-center" style="margin-bottom:50px">
            
                <img src="/nutri"  alt="Image" height="250">
            </div>
        <%- include("partials/full_bua_an_dd") %>
        <div class="dropdown-divider" style="opacity:0; margin-top: 50px;margin-left:50px; margin-right:50px"></div>
        
        <div class="container"  >

                <div class="d-flex justify-content-center">
                        <h2 class="display-4" style="font-size: 36px; margin-bottom:20px"><strong>Bữa ăn dinh dưỡng</strong></h2>
                        <a name="next"></a>
                </div>
                <div class="card-deck">
                        <div class="card" style="padding:10px; border-color:transparent;box-shadow: 0px 0px 50px rgba(0, 0, 0, .15);">
                            <div class="container" style="margin-top:10px">
                                    <div id ="lop" class=""  role="alert" style="border-radius:20px; border-color: transparent">
                                            <h4 id="head"></h4>
                                            <p id="notify"></p>
                                            <hr>
                                            <p class="mb-0">Thử thêm bớt để đạt bữa ăn dinh dưỡng.</p>
                                          </div>
                                    <span class=" text-title" style="font-size:20px; margin-bottom:20px ">Phần trăm dinh dưỡng</span><br><br>
                                <div class="container">
                                    <label for="chart_calo">Calo (kcal)</label>
                                    <div class="progress" style="height:20px; border-radius:25px">
                                        <div class="progress-bar bg-success" id="chart_calo" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      
                                      <label for="chart_cacbohydrat">Cacbohydrat</label>
                                      <div class="progress"  style="height:20px; border-radius:25px">
                                        <div class="progress-bar bg-info" id="chart_cacbohydrat" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      
                                      <label for="chart_lipid">Chất béo</label>
                                      <div class="progress"  style="height:20px; border-radius:25px">
                                        <div class="progress-bar bg-warning" id="chart_lipid" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                      
                                      <label for="chart_protein">Protein</label>
                                      <div class="progress"  style="height:20px; border-radius:25px">
                                        <div class="progress-bar bg-danger" id="chart_protein" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    <br>
                                    </div>
                                <span class=" text-title" style="font-size:20px; margin-bottom:20px ">Danh sách thực phẩm</span>

                                <% for(var i=1; i<=len; i++) {%>
                                    <%- include("partials/item_choose_thucPham",{data:data[i-1]}) %>
                                <% } %>
                                
                                    
                            </div>
                        </div>
                        <div class="card" style="border-color:transparent;box-shadow: 0px 0px 50px rgba(0, 0, 0, .15);" >
                            <span class=" text-title" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:20px; margin:10px">Thông tin dinh dưỡng</span>
                            
                            <table class="table table-hover"   style="font-family:sans-serif;font-size:13px">
                                <tbody>
                                    <tr>
                                        <th>Giá trị dinh dưỡng</th>
                                        <td ><span id="giaTriDinhDuong"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Calo (kcal)</th>
                                        <td ><span id="calo"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Lipid</th>
                                        <td ><span id="lipid"></span></td>
                                    </tr>
                                    <tr>
                                            <th>Chất béo chuyển hóa</th>
                                            <td ><span id="chatBeoChuyenHoa"></span></td>
                                        </tr>
                                    <tr>
                                        <th>Cholesterol</th>
                                        <td ><span id="cholesterol"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Natri</th>
                                        <td ><span id="natri"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Kali</th>
                                        <td ><span id="kali"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Cacbohydrat<br>
                                            <ul>
                                                <li>Đường:</li>
                                                <li>Chất xơ:</li>
                                            </ul>
                                        </th>
                                        <td><span id="cacbohydrat"></span><br>
                                            
                                            <span id="duong"></span><br>
                                            <span id="chatXo"></span>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Protein</th>
                                        <td ><span id="protein"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Vitamin A</th>
                                        <td ><span id="vitaminA"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Vitamin C</th>
                                        <td ><span id="vitaminC"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Vitamin D</th>
                                        <td ><span id="vitaminD"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Vitamin B12</th>
                                        <td ><span id="vitaminB12"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Vitamin B6</th>
                                        <td ><span id="vitaminB6"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Canxi</th>
                                        <td ><span id="canxi"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Sắt</th>
                                        <td ><span id="sat"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Magiê</th>
                                        <td ><span id="magie"></span></td>
                                    </tr>
                                </tbody>
                                
                            </table>
                                
                        </div>
                </div>
            
        </div>
    

    </div>

    <%- include("partials/footer") %>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>